@* @model int

<div class="container row pt-4">
    <div class="coll-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is : @Model<br /><br />
        <img src="/image/lawn_leaf.jpg" style="width: 100%;height: auto;" />
    </div>
    <div class="col-12 text-centre" style="color:maroon">
        <br />
        Your Order has been placed successfully!<br />
    </div>
</div> *@
@model Bulky.Models.Models.OrderHeader
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <title>Razorpay .Net Sample App</title>
    <form asp-controller="ShoppingCart" asp-action="Payment" method="post" name="razorpayForm">
        <input id="Id" asp-for="@Model.Id" hidden />
        <input id="razorpay_payment_id" hidden name="razorpay_payment_id" />
        <input id="razorpay_order_id" hidden name="razorpay_order_id" />
        <input id="razorpay_signature" hidden name="razorpay_signature" />
    </form>
</head>

<body>
    <button id="rzp-button1" class="btn btn-success" >Pay with Razorpay</button>
    @* view bag : @ViewBag.OrderId *@
    @*viewbag 2 : @ViewBag.OrderId
    name : @Html.DisplayFor(model => model.Name)
    @Html.DisplayFor(model => model.PhoneNumber) *@


    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var orderId = "@ViewBag.OrderId"
        //debugger
        var options = {
            "name": "@Html.DisplayFor(model=>model.Name)",
            "description": "Buy Green Tea",
            "order_id": orderId,
            "image": "https://example.com/your_logo",
            "prefill": {
                "name": "@Html.DisplayFor(model => model.Name)",
                "email": "Test@gmail.com",
                "contact": "@Html.DisplayFor(model => model.PhoneNumber)",
            },
            "notes": {
                "address": "Hello World"
            },
            "theme": {
                "color": "#3399cc"
            }
        }
        // Boolean whether to show image inside a white frame. (default: true)
        options.theme.image_padding = false;
        debugger
        options.handler = function (response) {
            document.getElementById('razorpay_payment_id').value = response.razorpay_payment_id;
            document.getElementById('razorpay_order_id').value = orderId;
            document.getElementById('razorpay_signature').value = response.razorpay_signature;
            document.razorpayForm.submit();
        };
        options.modal = {
            ondismiss: function () {
                console.log("This code runs when the popup is closed");
            },
            // Boolean indicating whether pressing escape key
            // should close the checkout form. (default: true)
            escape: true,
            // Boolean indicating whether clicking translucent blank
            // space outside checkout form should close the form. (default: false)
            backdropclose: false
        };
        var rzp = new Razorpay(options);
        document.getElementById('rzp-button1').onclick = function (e) {
            rzp.open();
            e.preventDefault();
        }
    </script>
</body>
</html>